*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: #00aef0;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;

}
.logo{
    height: 40px;

}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #264e72;
    font-size: 18px;
    padding: 7px 13px;
     border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #f89420;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #f89420;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none; 
}

/*cierre del logo y menu*/


.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer{
    background-color: #264e72;
    padding: 70px 0;

}

.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;

}
.footer-col h4:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #fff;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;

}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color:#ffffff;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;

}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:#ffffff;
    transition: all 0.5 ease;

}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;

}
/responsive/
@media(max-width:767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;

    }
}
@media(max-width:574px){
    .footer-col{
        width: 100%;
        

    }
}
/*cierre del pie de pagina*/

body {
    width: 100%;
    height: 100vh;
    background: #009FFF;  
    background: -webkit-linear-gradient(to right, #f89420, #f89420); 
    background: linear-gradient(to right, #f89420, #f89420);
    font-family: cambria;  
}
form{
    position: absolute;
    min-width: 280px;
    max-width: 25%;
    width: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px;
    box-shadow: 0 1rem 1rem  rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1rem);
    border-radius: 5px;
    color: #fff;
}

}
h1{
    position: relative;
    font-size: 18px;
    margin-bottom: 15px;
    padding-bottom: 7px;
}
h1::after{
    content: "";
    position: absolute;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    width: 120px;
    left: 0;
    bottom: 0;    
}
input{
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px 6px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    border-radius: 1px;
}

.acuerdo{
    text-align: center;
    margin-bottom: 15px;
    font-size: 15px;
}
button{
    display: block;
    margin: auto;
    width: 100%;
    height:40px ;
    background-color: #5d5b5b96;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    color: #fff;
}
.link{
    text-align: center;
    margin-top: 15px;
    font-weight: bolder;
}

 h2{
    text-decoration: none;
    font-family: cambria;
    text-transform: uppercase;
    color: blue;
 }
 .Nosotros {
    text-decoration: none;
    text-transform: uppercase;
    font-family: cambria;
    color: blue;
 }

 
.contenedor{
    position: relative;
    display: inline-block;
    text-align: left;
    color: black;
    font-family: cambria;

}
.texto-encima{
    position: absolute;
    top: 60px;
    left: 80px;
    font-size: 25px;


}

 }
 .Oferta {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial black;
    color: blue;
 }
.contenedor{
    position: relative;
    display: inline-block;
    text-align: left;
    color: black;
    font-family: Arial black;

}
.texto-encima{
    position: absolute;
    top: 60px;
    left: 80px;
    font-size: 25px;
}


.servicio{
    padding: 10px;

}
.anuncio{
    background: #6B7F7D;
    width: 100%;
    padding: 15px;
    
}
.clave{
    padding: 35px;
    width: 350px;
    height: 220px;
    text-align: left;

}

.fabb{
    padding: 20px;
}

.fabb{
    padding: 20px;
}
